.pytest_cache/
slurm_logs/
notebooks/junk
notes
.DS_Store
.ipynb_checkpoints/
__pycache__/
README.html
model/
figures/
junk.md
single_kan_vs_bag_of_kans_results
slurm
TEMP_*
notebooks/hiv/descriptors
bag_of_kans_results_export/
